In [1]:
## required libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn import metrics
from sklearn.naive_bayes import MultinomialNB

In [2]:
# pd.set_option('display.max_rows', 500)
# pd.set_option('display.max_columns', 500)
# pd.set_option('display.width', 1000)

# np.set_printoptions(threshold=np.inf)

In [3]:
## load data
df = pd.read_csv('fake_or_real_news.csv')

In [4]:
df.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [5]:
## create a series to store the labels: y [response variable]
y = df.label

## create training and test sets
X_train, X_test, y_train, y_test = train_test_split(df['text'], y, test_size = 0.33, random_state = 53)

In [6]:
## initialize a CountVectorizer object: count_vectorizer
### CountVectorizer will be used to get bag of words vector and remove the stop words
count_vectorizer = CountVectorizer(stop_words = 'english')

## transform the training data using only the 'text' column values: count_train
### fit and transform the data
### creates the bag of words vectors
### generates mapping of words with ids and vectors representing how many times each word appears in the movie plot
### fit_transform works differently for different models but generally
### fit will find parameters in the data
### transform will apply the model's underlying algorithm or approximation
### here, we are going to create a bag of words dictionary and vector for each document using the training data
count_train = count_vectorizer.fit_transform(X_train.values)

## transform the test data using only the 'text' column values: count_test
### transform will create bag of words vectors for the test data using the same dictionary
### train and test need to use a consistent set of words so that the trained model can understand the test input
count_test = count_vectorizer.transform(X_test.values)

## print the first 10 features of the count_vectorizer
count_vectorizer.get_feature_names()[:10]

['00',
 '000',
 '0000',
 '00000031',
 '000035',
 '00006',
 '0001',
 '0001pt',
 '000ft',
 '000km']

In [7]:
## initialize a TfidfVectorizer object: tfidf_vectorizer
tfidf_vectorizer = TfidfVectorizer(stop_words = 'english', max_df=0.7)

## transform the training data: tfidf_train 
tfidf_train = tfidf_vectorizer.fit_transform(X_train.values)

## transform the test data: tfidf_test 
tfidf_test = tfidf_vectorizer.transform(X_test.values)

## print the first 10 features
tfidf_vectorizer.get_feature_names()[:-10]

['00',
 '000',
 '0000',
 '00000031',
 '000035',
 '00006',
 '0001',
 '0001pt',
 '000ft',
 '000km',
 '001',
 '0011',
 '002',
 '003',
 '004',
 '006',
 '006s',
 '007',
 '007s',
 '008',
 '008s',
 '009',
 '0099',
 '00am',
 '00p',
 '00pm',
 '01',
 '010',
 '013',
 '014',
 '015',
 '016',
 '018',
 '01am',
 '02',
 '020',
 '022',
 '023',
 '024',
 '025',
 '027',
 '028',
 '02welcome',
 '03',
 '031',
 '032',
 '0325',
 '033',
 '034',
 '035',
 '037',
 '039',
 '03eb',
 '04',
 '040',
 '0400',
 '042',
 '044',
 '048',
 '049',
 '04pm',
 '05',
 '0509245d29',
 '052',
 '056',
 '06',
 '062',
 '066',
 '068',
 '06pm',
 '07',
 '0700',
 '075',
 '076',
 '079',
 '07dryempjx',
 '08',
 '080',
 '081',
 '082',
 '084',
 '089',
 '0891',
 '09',
 '098263',
 '09am',
 '09pm',
 '0_jgdktlmn',
 '0a_merrill',
 '0d',
 '0fjjvowyhg8qtskiz',
 '0h4at2yetra17uxetni02ls2jeg0mty45jrcu7mrzsrpcbq464i',
 '0hq3vb2giv',
 '0in',
 '0jsn6pjkan',
 '0oeekvljlt',
 '0pt',
 '0t5',
 '0txrbwvobzz4fi5nksw6k5a6cxzbb3juxthmdiz93cby8gvrqiypzhajvjnt2',
 '0womdwalmi',
 '0x',
 '10',
 '100',
 '1000',
 '10009020',
 '1000s',
 '1001',
 '10021',
 '10028',
 '100515p',
 '100bn',
 '100c',
 '100k',
 '100m',
 '100percentfedup',
 '100s',
 '100th',
 '101',
 '1010359',
 '1019',
 '101st',
 '102',
 '1024026',
 '1026',
 '102816',
 '102836002',
 '102k',
 '102m',
 '103',
 '1033',
 '103rd',
 '104',
 '1040',
 '104396002',
 '104893',
 '105',
 '106',
 '106116001',
 '107',
 '1070',
 '107th',
 '108',
 '109',
 '1095',
 '1098',
 '10bn',
 '10ft',
 '10kb',
 '10m',
 '10m54s',
 '10mm',
 '10pm',
 '10th',
 '10ths',
 '10x',
 '10yrs',
 '11',
 '110',
 '1100',
 '1101',
 '110136001',
 '1105',
 '111',
 '112',
 '1121',
 '112145924',
 '1122930jg',
 '112th',
 '113',
 '113bn',
 '114',
 '1146',
 '114th',
 '115',
 '11540',
 '115aug',
 '115th',
 '116',
 '1160',
 '117',
 '11702',
 '1176',
 '118',
 '1180',
 '119',
 '1190',
 '11am',
 '11cm',
 '11mn',
 '11pm',
 '11th',
 '11truther',
 '12',
 '120',
 '1200',
 '1207',
 '121',
 '122',
 '1228',
 '123',
 '12333',
 '123421',
 '12345',
 '124',
 '125',
 '1252',
 '126',
 '12619print',
 '1265',
 '127',
 '127million',
 '128',
 '1280',
 '1287',
 '128th',
 '129',
 '12hdlgeeua87t2ju8m4tbro247yj5u2tvp',
 '12k',
 '12m',
 '12mn',
 '12pm',
 '12sso1zj2bbdguiraddmamlnets7oc1',
 '12th',
 '13',
 '130',
 '1300',
 '1301',
 '1305',
 '130500',
 '131',
 '132',
 '133',
 '134',
 '135',
 '135s',
 '136',
 '13603',
 '1364',
 '137',
 '138',
 '139',
 '1393',
 '13th',
 '13y',
 '13½',
 '14',
 '140',
 '1400',
 '1400s',
 '140230',
 '141',
 '142',
 '1425817301725',
 '143',
 '143m',
 '144',
 '14482302',
 '145',
 '146',
 '1460',
 '147',
 '148',
 '149',
 '14k',
 '14kwh',
 '14m',
 '14th',
 '15',
 '150',
 '1500',
 '1500s',
 '150th',
 '151',
 '1513',
 '1517',
 '152',
 '1521',
 '1522',
 '153',
 '1538',
 '1543',
 '155',
 '1552',
 '1555',
 '1559',
 '156',
 '1562',
 '1563',
 '1566',
 '1569',
 '157',
 '1576',
 '1578',
 '158',
 '1584',
 '1588',
 '15893',
 '159',
 '1591',
 '15975445007',
 '15e',
 '15ft',
 '15million',
 '15mm',
 '15pm',
 '15s',
 '15th',
 '15yrs',
 '16',
 '160',
 '1600',
 '1600s',
 '1605',
 '1606',
 '160716',
 '161',
 '1610',
 '161029',
 '162',
 '1621',
 '16236675004',
 '1624575',
 '162lvbnkan',
 '163',
 '164',
 '165',
 '1650',
 '1652',
 '166',
 '167',
 '168',
 '1689',
 '169',
 '16bn',
 '16k',
 '16s',
 '16th',
 '17',
 '170',
 '1700',
 '171',
 '1711',
 '172',
 '1720',
 '173',
 '1730s',
 '174',
 '1745',
 '175',
 '1752',
 '176',
 '1763',
 '1766',
 '177',
 '1770',
 '1775',
 '1776',
 '1777',
 '178',
 '1780',
 '1784',
 '1786',
 '1787',
 '1788',
 '1789',
 '179',
 '1790',
 '1791',
 '1793',
 '1793qianlong',
 '1795583',
 '1797',
 '1798',
 '1799',
 '17b2908f',
 '17k',
 '17s',
 '17th',
 '18',
 '180',
 '1800',
 '1800s',
 '1801',
 '1804',
 '1806',
 '1808',
 '1812',
 '1814',
 '1815',
 '1816',
 '1817',
 '1818',
 '182',
 '1820',
 '1820s',
 '1823',
 '1824',
 '1825',
 '1827',
 '1829',
 '182nd',
 '183',
 '1830',
 '1830s',
 '1831',
 '1835',
 '1837',
 '1838',
 '1839',
 '184',
 '1840',
 '1840s',
 '1841',
 '1842',
 '1844',
 '1845',
 '1846',
 '1848',
 '1849',
 '185',
 '1850',
 '1850s',
 '1851',
 '1853',
 '1854',
 '1855',
 '1856',
 '1857',
 '1858',
 '1859',
 '186',
 '1860',
 '1860s',
 '1861',
 '1862',
 '1863',
 '1864',
 '1865',
 '1868',
 '187',
 '1870',
 '1870s',
 '1871',
 '1872',
 '1873',
 '1876',
 '1877',
 '1878',
 '188',
 '1880',
 '1881',
 '1883',
 '1884',
 '1885',
 '1886',
 '1887',
 '189',
 '1890',
 '1890s',
 '1892',
 '1893',
 '1895',
 '1896',
 '1897',
 '1898',
 '1899',
 '18f',
 '18m',
 '18th',
 '19',
 '190',
 '1900',
 '1900s',
 '1901',
 '1903',
 '1904',
 '1905',
 '1907',
 '1908',
 '1909',
 '190th',
 '191',
 '1910',
 '1910s',
 '1911',
 '1912',
 '1913',
 '1914',
 '1915',
 '1916',
 '1917',
 '1918',
 '1919',
 '191bn',
 '192',
 '1920',
 '1920s',
 '1921',
 '1922',
 '1923',
 '1924',
 '1925',
 '1926',
 '1927',
 '1928',
 '1929',
 '193',
 '1930',
 '1930s',
 '1931',
 '1932',
 '1933',
 '1934',
 '1935',
 '1936',
 '1937',
 '1938',
 '1939',
 '194',
 '1940',
 '1940s',
 '1941',
 '1942',
 '1943',
 '1944',
 '1945',
 '1946',
 '1947',
 '1948',
 '1949',
 '195',
 '1950',
 '1950s',
 '1951',
 '1952',
 '1953',
 '1954',
 '1955',
 '1956',
 '1957',
 '1958',
 '19580395003',
 '19580405001',
 '1959',
 '196',
 '1960',
 '1960s',
 '1961',
 '19617315012',
 '1962',
 '1963',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '197',
 '1970',
 '1970s',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1980s',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '198974609375',
 '199',
 '1990',
 '1990s',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '19th',
 '1_2',
 '1alvwe4bralkh',
 '1b',
 '1b1',
 '1bbswheiehlqifxzus3j35',
 '1billion',
 '1bjxt3uhim5fqn93gb0hkxakuarz99d7xcitzftye',
 '1bs',
 '1huziqim53',
 '1hztlj',
 '1is9krdfnysv0buhf8elizydmsrpwn944flw1tofjw46j4uaxsbrbp284wifmv8n',
 '1jquvafupk',
 '1k',
 '1m',
 '1m08s',
 '1mdb',
 '1mgfbvy',
 '1million',
 '1mm',
 '1mwvcarc3jsuon8rrxype4espweqzd6zsrbhgh4uqf56pcft2ubnqku4wtgoecsw',
 '1o6qorkewr',
 '1oo',
 '1oth',
 '1oxutnexun',
 '1st',
 '1tn',
 '1tr',
 '1wrwsaijjsohk5rzj',
 '1z',
 '20',
 '200',
 '2000',
 '2000s',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '200k',
 '200m',
 '200x',
 '201',
 '2010',
 '2010s',
 '2011',
 '2012',
 '2012newstart',
 '2013',
 '2014',
 '2015',
 '20150308054059',
 '2016',
 '20161026_spain1',
 '20161026_spain3',
 '2016a',
 '2016b',
 '2016ers',
 '2017',
 '2018',
 '2019',
 '202',
 '2020',
 '2021',
 '2022',
 '2023',
 '2024',
 '2025',
 '203',
 '2030',
 '2032',
 '2033',
 '2034',
 '2035',
 '2036',
 '2040',
 '2042',
 '2043',
 '2045',
 '205',
 '2050',
 '20535',
 '206',
 '2064',
 '207',
 '2071',
 '208',
 '209',
 '20am',
 '20book',
 '20gs',
 '20k',
 '20million',
 '20p',
 '20power',
 '20s',
 '20th',
 '20tn',
 '21',
 '210',
 '2100',
 '2102',
 '211',
 '2110',
 '2117',
 '212',
 '213',
 '2130',
 '214',
 '2146815',
 '2149237058061490',
 '214r',
 '215',
 '216',
 '217',
 '218',
 '219',
 '21mn',
 '21s',
 '21st',
 '21wire',
 '22',
 '220',
 '2205',
 '221',
 '221day_m25',
 '222',
 '223',
 '224',
 '225',
 '226',
 '226t',
 '227',
 '227kg',
 '228',
 '229',
 '22_1171',
 '22am',
 '22autoupdate',
 '22basemap',
 '22default',
 '22event',
 '22feed',
 '22grayscale',
 '22list',
 '22listformat',
 '22m',
 '22m3',
 '22map',
 '22mapposition',
 '22nd',
 '22newest',
 '22overlays',
 '22plates',
 '22restrictlisttomap',
 '22search',
 '22sort',
 '22th',
 '22timezone',
 '22us1000778i',
 '22utc',
 '22viewmodes',
 '23',
 '230',
 '231',
 '232',
 '233',
 '234',
 '2344',
 '235',
 '236',
 '237',
 '238',
 '239',
 '23k',
 '23rd',
 '24',
 '240',
 '241',
 '242',
 '243',
 '244',
 '24454002',
 '244th',
 '245',
 '2450',
 '246',
 '247',
 '2472',
 '24888',
 '249',
 '24news',
 '24th',
 '25',
 '250',
 '25018606',
 '250m',
 '251',
 '2510',
 '252',
 '253207',
 '254',
 '25421',
 '2544',
 '255',
 '2552',
 '256',
 '257',
 '25751119',
 '258',
 '25am',
 '25m',
 '25th',
 '26',
 '260',
 '261',
 '262',
 '263',
 '2635',
 '264',
 '265',
 '2656002',
 '267',
 '2670',
 '268',
 '269',
 '26t18',
 '26th',
 '27',
 '270',
 '2700',
 '2700922',
 '27026',
 '2703',
 '271',
 '2711',
 '27111',
 '272',
 '273',
 '274',
 '275',
 '276',
 '277',
 '278',
 '279',
 '27th',
 '28',
 '280',
 '281',
 '282',
 '283',
 '284',
 '28403',
 '285',
 '286',
 '28657',
 '287',
 '288',
 '289',
 '28am',
 '28th',
 '29',
 '290',
 '2900',
 '2900100001',
 '291',
 '292',
 '293',
 '29385',
 '29385ote',
 '294',
 '295',
 '2950100001',
 '29549',
 '296',
 '298',
 '29th',
 '2a',
 '2b',
 '2bowles',
 '2c',
 '2ccrww3wqeay',
 '2ckus9qi9g',
 '2cs',
 '2degrees',
 '2f',
 '2f102516_6',
 '2f16',
 '2fnews',
 '2fpreventdisease',
 '2gary2',
 '2gkhtimovh',
 '2hibftjxscml3k8k6mbdi8p9zvcmjsxbppcyrffw9a6t',
 '2hzuvxyp8k',
 '2k',
 '2kkpwafd9pxaqnwjmpd4amk60l3n',
 '2l',
 '2m52s',
 '2nd',
 '2o16',
 '2paragraphs',
 '2percent',
 '2plwa3cerym6byp60362co7cpzochyhsvgppzyh0qex',
 '2s',
 '2x',
 '2yiugiyosv',
 '2yxlvcf03qflflgzzfn7fcv5jw',
 '2zksz3xesc7mmpgrzanh4pk1dlr',
 '30',
 '300',
 '3000',
 '3001',
 '300k',
 '300kg',
 '301',
 '302',
 '3037',
 '304',
 '305',
 '306',
 '307',
 '308',
 '309',
 '309533',
 '30am',
 '30grams',
 '30k',
 '30mki',
 '30p',
 '30pm',
 '30s',
 '30sm',
 '30th',
 '31',
 '310',
 '312',
 '313',
 '314',
 '315',
 '316',
 '317',
 '31715',
 '31721',
 '318',
 '319',
 '31am',
 '31s',
 '31st',
 '31yrs',
 '32',
 '320',
 '321',
 '3222705',
 '3225440',
 '323',
 '324',
 '325',
 '326',
 '328',
 '32833',
 '329',
 '32937',
 '32nd',
 '33',
 '330',
 '33010',
 '330m',
 '331',
 '33127',
 '332',
 '333',
 '334',
 '334m',
 '33552',
 '336',
 '33656002',
 '337',
 '3370',
 '33713',
 '33722',
 '33739',
 '338',
 '339',
 '33k',
 '33rd',
 '33s',
 '33yo',
 '34',
 '340',
 '34000',
 '342',
 '343',
 '344',
 '345',
 '3454',
 '346',
 '347',
 '348',
 '349',
 '34th',
 '35',
 '350',
 '3500',
 ...]

In [8]:
## print the first 5 vectors of the tfidf training data
print(tfidf_train.A[:5])

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [9]:
# Create the CountVectorizer DataFrame: count_df
count_df = pd.DataFrame(count_train.A, columns=count_vectorizer.get_feature_names())

# Print the head of count_df
count_df.head()

,00,000,0000,00000031,000035,00006,0001,0001pt,000ft,000km,...,حلب,عربي,عن,لم,ما,محاولات,من,هذا,والمرضى,ยงade
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
# Create the TfidfVectorizer DataFrame: tfidf_df
tfidf_df = pd.DataFrame(tfidf_train.A, columns=tfidf_vectorizer.get_feature_names())

# Print the head of tfidf_df
tfidf_df.head()

,00,000,0000,00000031,000035,00006,0001,0001pt,000ft,000km,...,حلب,عربي,عن,لم,ما,محاولات,من,هذا,والمرضى,ยงade
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
# Calculate the difference in columns: difference
difference = set(tfidf_df.columns) - set(count_df.columns)
difference

set()

In [12]:
# Check whether the DataFrames are equal
count_df.equals(tfidf_df)

False

In [13]:
# Instantiate a Multinomial Naive Bayes classifier: nb_classifier
nb_classifier = MultinomialNB()

# Fit the classifier to the training data
nb_classifier.fit(count_train, y_train)

# Create the predicted tags: pred
pred = nb_classifier.predict(count_test)

# Calculate the accuracy score: score
score = metrics.accuracy_score(y_test, pred)
print(score)

# Calculate the confusion matrix: cm
cm = metrics.confusion_matrix(y_test, pred, labels=['FAKE','REAL'])
cm

0.893352462936394

array([[ 865,  143],
       [  80, 1003]])

In [14]:
# Create a Multinomial Naive Bayes classifier: nb_classifier
nb_classifier_tfidf = MultinomialNB()

# Fit the classifier to the training data
nb_classifier_tfidf.fit(tfidf_train, y_train)

# Create the predicted tags: pred
pred_tfidf = nb_classifier_tfidf.predict(tfidf_test)

# Calculate the accuracy score: score
score_tfidf = metrics.accuracy_score(y_test, pred_tfidf)
print(score_tfidf)

# Calculate the confusion matrix: cm
cm_tfidf = metrics.confusion_matrix(y_test, pred_tfidf, labels=['FAKE', 'REAL'])
cm_tfidf

0.8565279770444764

array([[ 739,  269],
       [  31, 1052]])

In [17]:
# Create the list of alphas: alphas
alphas = np.arange(0.1, 1, 0.1)

# Define train_and_predict()
def train_and_predict(alpha):
    # Instantiate the classifier: nb_classifier
    nb_classifier = MultinomialNB(alpha=alpha)
    # Fit to the training data
    nb_classifier.fit(tfidf_train, y_train)
    # Predict the labels: pred
    pred = nb_classifier.predict(tfidf_test)
    # Compute accuracy: score
    score = metrics.accuracy_score(y_test, pred)
    return score

# Iterate over the alphas and print the corresponding score
for alpha in alphas:
    print('Alpha: ', alpha)
    print('Score: ', train_and_predict(alpha))
    print()

Alpha:  0.1
Score:  0.8976566236250598

Alpha:  0.2
Score:  0.8938307030129125

Alpha:  0.30000000000000004
Score:  0.8900047824007652

Alpha:  0.4
Score:  0.8857006217120995

Alpha:  0.5
Score:  0.8842659014825442

Alpha:  0.6
Score:  0.874701099952176

Alpha:  0.7000000000000001
Score:  0.8703969392635102

Alpha:  0.8
Score:  0.8660927785748446

Alpha:  0.9
Score:  0.8589191774270684

In [18]:
# Get the class labels: class_labels
class_labels = nb_classifier_tfidf.classes_

# Extract the features: feature_names
feature_names = tfidf_vectorizer.get_feature_names()

# Zip the feature names together with the coefficient array and sort by weights: feat_with_weights
feat_with_weights = sorted(zip(nb_classifier_tfidf.coef_[0], feature_names))

# Print the first class label and the top 20 feat_with_weights entries
print(class_labels[0], feat_with_weights[:20])

# Print the second class label and the bottom 20 feat_with_weights entries
print(class_labels[1], feat_with_weights[-20:])

FAKE [(-11.316312804238807, '0000'), (-11.316312804238807, '000035'), (-11.316312804238807, '0001'), (-11.316312804238807, '0001pt'), (-11.316312804238807, '000km'), (-11.316312804238807, '0011'), (-11.316312804238807, '006s'), (-11.316312804238807, '007'), (-11.316312804238807, '007s'), (-11.316312804238807, '008s'), (-11.316312804238807, '0099'), (-11.316312804238807, '00am'), (-11.316312804238807, '00p'), (-11.316312804238807, '00pm'), (-11.316312804238807, '014'), (-11.316312804238807, '015'), (-11.316312804238807, '018'), (-11.316312804238807, '01am'), (-11.316312804238807, '020'), (-11.316312804238807, '023')]
REAL [(-7.742481952533027, 'states'), (-7.717550034444668, 'rubio'), (-7.703583809227384, 'voters'), (-7.654774992495461, 'house'), (-7.649398936153309, 'republicans'), (-7.6246184189367, 'bush'), (-7.616556675728881, 'percent'), (-7.545789237823644, 'people'), (-7.516447881078008, 'new'), (-7.448027933291952, 'party'), (-7.411148410203476, 'cruz'), (-7.410910239085596, 'state'), (-7.35748985914622, 'republican'), (-7.33649923948987, 'campaign'), (-7.2854057032685775, 'president'), (-7.2166878130917755, 'sanders'), (-7.108263114902301, 'obama'), (-6.724771332488041, 'clinton'), (-6.5653954389926845, 'said'), (-6.328486029596207, 'trump')]